name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.4.0

      - name: Setup Node.js
        uses: actions/setup-node@v3.0.0
        with:
          node-version: 14.x

      - name: NPM
        uses: ./

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build NPM package
        run: npm run build:tsc

      - name: Build action
        run: npm run build:ncc
