name: '@ng-easy/npm-setup'
on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3.2.0

      - name: '@ng-easy/npm-setup'
        uses: ./
        with:
          nx-key: 'cache'
